@charset "UTF-8";

/* Mobile First */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to top, rgb(26, 85, 212), rgb(181, 69, 233));
    height: 250px;
}

header h1{
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.418);
    padding: 15px 0px;
}

header p{
    text-align: center;
    font-weight: bold;
    color: white;
}

header menu {
    padding-top: 50px;
}

header menu a {
    color: white;
    
}