@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgrey;
}

header{
    background-image: linear-gradient(to top, rgb(26, 85, 212), rgb(181, 69, 233));
    
}

div#cab{
    padding-top: 40px;
}

header h1{
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.418);
    padding: 15px 0px;
}

header p{
    text-align: center;
    font-weight: bold;
    color: white;
}

header menu {
    color: white;
    height: 50px;
    margin-top: 20px;
}

header menu a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.555);
    padding: 10px;
    border-radius: 10px;
    text-shadow: 1px black;
}

header menu a:hover{
    background-color: rgba(255, 255, 255, 0);
    color: black;    
}

main {
    width: 70vw;
    margin: auto;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

main p {
    text-align: justify;
    text-indent: 20px;
}

main h2{
    font-size: 2em;
    padding: 5px;
    color: green;
}

main h3{
    background-image: linear-gradient(to right, green, white);
    padding: 5px;
    margin: 10px;
}

main img{
    padding: 15px 0px;
    display: block;
    margin: auto;
    width: 90%;
}

main strong{
    font-weight: bold;
    color: darkgreen;
}

main span{
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    padding: 1px;
}

div.video{
    background-color: darkgreen;
    margin: 20px -10px 30px -10px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

main div.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    width: 90%;
    background-color: lightgreen;
    margin: auto;
    padding: 10px;
    border-radius: 10px;

}

aside h3.diferente{
    color: white;
    padding: 0px 20px 0px -20px;
}

aside ul {
    padding-left: 20px;
    column-count: 2;
    column-gap: 20px;
    margin: 20px 0px;
}

aside p {
    margin-bottom: 10px
}

footer{
    background-color: darkgreen;
    text-align: center;
    color: white;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}